@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Mobile-first styles */
@media (max-width: 640px) {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  
  input, textarea, button {
    font-size: 16px !important; /* Prevents zoom on iOS */
  }
}